<div class="row-cols-3">
    <div class="col-x5-12">
        <img [src]="recipe.imagPath" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-x5-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-x5-12">
        <div class="btn-group">
            <button class="btn btn-primary drowdown-toggle">
                管理食谱
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">商品列表</a></li>
                <li><a href="#">修改食谱</a></li>
                <li><a href="#">创建食谱</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-x5-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-x5-12">
        食谱材料
    </div>
</div>