<h1>我是直接求值{{1+1}}</h1>
<h1>我是组件对象{{Component}}</h1>
<h1>我是函数表达式{{getValue()}}</h1>
<div [style]='style'>我是style绑定</div>
<input #Template (input)='Template.value=$event.target.value'>
<h1>我是模板对象还是事件处理{{Template.value}}</h1>
<input type="text" [(ngModel)]='name'>
<div [innerHtml]='name'>我是双向绑定和属性绑定</div>
<!-- ngModel的使用需要引入FormsModule -->

<br>
<br>
<button (click)='click()'>我是事件绑定</button>
<ul>我是组件引用对象
  <li *ngFor='let value of values'>{{value}}</li>
</ul>
<app-show (open)="onOpen()" (close)="onClose()"></app-show>
