<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li routerLinkActive="active">
          <!-- routerLinkActive激活时添加一个css样式 -->
        <a routerLink="">个人中心</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="">购买服务</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="">我的账单</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="">邀请返利</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="">问题咨询</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="">个人设置</a>
      </li>
      <hr>
      <li routerLinkActive="active">
        <a routerLink="">qq群</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="">订阅转换中心</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="">退出</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9  col-md-10 col-sm-offset-3 col-md-offset-2 container">
    <router-outlet></router-outlet>
  </div>